
<div class="p-d-flex mb-4 mt-2" *ngIf=" !loadingEpisode ">
  <p-card styleClass="p-card-shadow">
    <ng-template pTemplate="title">
      <button pButton
              type="button"
              [label]=" 'Episode '+( episode.episode_id | numerosRomanos )+' : '+episode.title "
              class="p-button-lg p-button-info p-button-outlined mb-2">
      </button>

      <br>

      <button pButton
              pRipple
              type="button"
              (click)="showModalFormulario()"
              label="Saber más"
              class="p-button-outlined p-button-secondary mb-2"
      >
      </button>
    </ng-template>
    <ng-template pTemplate="subtitle">
      {{ episode.release_date | date:'yyyy' }}
      <br>
      {{ episode.director | reverse }}
    </ng-template>
    <ng-template pTemplate="content">
      <p>{{ episode.opening_crawl }}</p>
    </ng-template>

    <ng-template pTemplate="footer">
      <p-tabView>

        <!-- Personajes -->
        <p-tabPanel header="Characters">

          <!-- Lista Personajes -->
          <div class="p-fluid" *ngIf=" !loadingCharacters ">
            <button *ngFor="let character of characters"
                    pButton
                    pRipple
                    type="button"
                    [label]=" character.name "
                    class="p-field p-button-success p-button-text">
            </button>
          </div>

          <!-- Skeleton - Loading Personajes -->
          <div *ngIf=" loadingCharacters ">
            <div class="p-field p-col-12 md-6 mb-8 mt-4">
              <p-skeleton width="15rem" styleClass="mb-3" borderRadius="16px"></p-skeleton>
              <p-skeleton width="15rem" styleClass="mb-3" borderRadius="16px"></p-skeleton>
              <p-skeleton width="15rem" styleClass="mb-5" borderRadius="16px"></p-skeleton>
              <p-skeleton styleClass="mb-3" borderRadius="16px"></p-skeleton>
              <p-skeleton styleClass="mb-3" borderRadius="16px"></p-skeleton>
              <p-skeleton styleClass="mb-3" borderRadius="16px"></p-skeleton>
              <p-skeleton styleClass="mb-4" borderRadius="16px"></p-skeleton>
            </div>
          </div>

        </p-tabPanel>

        <!-- Naves -->
        <p-tabPanel header="Starships">

          <!-- Lista Naves -->
          <div class="p-fluid" *ngIf=" !loadingStarships ">
            <button *ngFor="let starship of starships"
                    pButton
                    pRipple
                    type="button"
                    [label]=" starship.name "
                    class="p-field p-button-success p-button-text">
            </button>
          </div>



          <!-- Skeleton - Loading Naves -->
          <div *ngIf=" loadingStarships ">
            <div class="p-field p-col-12 md-6 mb-8 mt-4">
              <p-skeleton width="15rem" styleClass="mb-3" borderRadius="16px"></p-skeleton>
              <p-skeleton width="15rem" styleClass="mb-3" borderRadius="16px"></p-skeleton>
              <p-skeleton width="15rem" styleClass="mb-5" borderRadius="16px"></p-skeleton>
              <p-skeleton styleClass="mb-3" borderRadius="16px"></p-skeleton>
              <p-skeleton styleClass="mb-3" borderRadius="16px"></p-skeleton>
              <p-skeleton styleClass="mb-3" borderRadius="16px"></p-skeleton>
              <p-skeleton styleClass="mb-4" borderRadius="16px"></p-skeleton>
            </div>
          </div>

        </p-tabPanel>

        <!-- Planetas -->
        <p-tabPanel header="Planets">

          <!-- Lista Planetas -->
          <div class="p-fluid" *ngIf=" !loadingPlanets ">
            <button *ngFor="let planet of planets"
                    pButton
                    pRipple
                    type="button"
                    [label]=" planet.name "
                    class="p-field p-button-success p-button-text">
            </button>
          </div>

          <!-- Skeleton - Loading Planetas -->
          <div *ngIf=" loadingPlanets ">
            <div class="p-field p-col-12 md-6 mb-8 mt-4">
              <p-skeleton width="15rem" styleClass="mb-3" borderRadius="16px"></p-skeleton>
              <p-skeleton width="15rem" styleClass="mb-3" borderRadius="16px"></p-skeleton>
              <p-skeleton width="15rem" styleClass="mb-5" borderRadius="16px"></p-skeleton>
              <p-skeleton styleClass="mb-3" borderRadius="16px"></p-skeleton>
              <p-skeleton styleClass="mb-3" borderRadius="16px"></p-skeleton>
              <p-skeleton styleClass="mb-3" borderRadius="16px"></p-skeleton>
              <p-skeleton styleClass="mb-4" borderRadius="16px"></p-skeleton>
            </div>

          </div>
        </p-tabPanel>
    </p-tabView>
  </ng-template>
  </p-card>
</div>

<!-- Modal formulario - Saber más -->
<p-dialog header="¿Deseas saber más?"
          [(visible)]="displayModal"
          [modal]="true"
          [style]="{width: '70vw', height: '90vw'}"
          [draggable]="false"
          [resizable]="false">
  <app-saber-mas></app-saber-mas>
</p-dialog>






<!-- Skeleton - Loading Episode -->
<div *ngIf=" loadingEpisode ">
  <div class="p-field p-col-12 md-6 mb-8 mt-4">
    <p-skeleton width="25rem" height="1.5rem" styleClass="mb-5" borderRadius="16px"></p-skeleton>
    <p-skeleton width="15rem" styleClass="mb-3" borderRadius="16px"></p-skeleton>
    <p-skeleton width="15rem" styleClass="mb-3" borderRadius="16px"></p-skeleton>
    <p-skeleton width="15rem" styleClass="mb-5" borderRadius="16px"></p-skeleton>
    <p-skeleton height="2rem" styleClass="mb-3" borderRadius="16px"></p-skeleton>
    <p-skeleton height="2rem" styleClass="mb-3" borderRadius="16px"></p-skeleton>
    <p-skeleton height="2rem" styleClass="mb-3" borderRadius="16px"></p-skeleton>
    <p-skeleton height="2rem" styleClass="mb-4" borderRadius="16px"></p-skeleton>
  </div>
</div>
